body {
    background: #f8f8f8;
    border: none;
}

/* override semantic-ui */
.ui.vertical.menu {
    background: none;
}

.item.highlight .listContent {
    background: white;
}

.listContent {
    color: unset;
    height: 40px;
    display: flex;
    align-items: center;
}
.listContent :first-child {
    flex-grow: 1;
}
.listContent:hover {
    color: unset;
    background: white;
}

.faint {
    color: gray;
    font-style: italic;
}
