.title {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: whitesmoke;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
}
.title img {
    margin-right: 0.5rem;
}
.title span {
    position: relative;
    top: -8px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
}
.ui.image.scaleToFit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui.image.scaleToFit img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#screenshotLink {
    height: 150px;
}
.ui.warning.message {
    width: 92%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.disabled > .enabledContent,
:not(.disabled) > .disabledContent {
    display: none;
}

.disabled .disabledContent {
    display: unset;
}
