.listContent {
    color: unset; /* would otherwise be blue, as it is a link */

    &:hover {
        color: unset;
    }

    &.highlight {
        background: #def;
    }

    &:not(.highlight):hover {
        background: white;
    }

    height: 40px;
    border-radius: 2px;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.listContent :first-child {
    flex-grow: 1;
}
