body {
    padding: 2em;
    max-width: 40em;
    margin: auto;
}

h1 {
    font-size: 1.4rem;
}

button + label {
    margin-left: 0.5em;
}

li {
    padding: 0.2em;
}

small {
    font-style: italic;
}
