.root,
.root * {
    box-sizing: border-box;
}

.root {
    display: flex;
    flex-flow: column nowrap;
}

.root > .card {
    box-sizing: content-box;
    border: 1px solid grey;
    border-radius: 3px;
    background-color: snow;
    color: inherit;
    text-decoration: none;
    box-shadow: 1px 2px 1px #aaa;

    &:hover {
        color: inherit;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        border: 1px solid black;
        box-shadow: 3px 4px 3px #888;
        margin-left: -1px;
    }

    transition: border 200ms, box-shadow 200ms;
}

/* List entries for which no stored version is available */
.root:not(.available) > * {
    opacity: 0.5;
}

.screenshotContainer {
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    & .screenshot {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    & .favIcon {
        align-self: center;
    }

    & img.favIcon {
        width: 36px;
        height: 36px;
    }
}

.title {
    padding: 10px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & .favIcon {
        height: 1em;
        margin-right: 4px;
        vertical-align: text-bottom;
    }
}

.url {
    margin-top: 0.5em;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Show buttons only on hover/focus */
.root:not(:focus):not(:hover) .buttonsContainer button:not(:focus) {
    opacity: 0;
}

.root .buttonsContainer button {
    transition: opacity 0.2s;
}
