.root {
    list-style: none;
    margin: 40px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    justify-content: space-around;
}

/* hack: adding p. for extra specificity, to override semantic-ui's margin-top */
p.noResultMessage {
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    color: grey;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.skippingToDateMessage {
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
    color: grey;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
